@model MayaJapan.Models.ImageGroup

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "ImageGroups", null, FormMethod.Post, new { id = "edit-form"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ImageGroup</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.Date)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea id="Description" name="Description" form="edit-form" class="form-control">@Html.Raw(Model.Description)</textarea>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("Password", new { htmlAttributes = new { @type = "password", @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("//cdn.ckeditor.com/4.5.3/standard/ckeditor.js")
<script type="text/javascript">
    $(function () {
        CKEDITOR.replace("Description", {
            toolbarGroups: [
                    { "name": "basicstyles", "groups": ["basicstyles"] },
                    { "name": "links", "groups": ["links"] },
                    { "name": "paragraph", "groups": ["list", "blocks"] },
                    { "name": "styles", "groups": ["styles"] },
                    { "name": "about", "groups": ["about"] }
            ],
            // Remove the redundant buttons from toolbar groups defined above.
            removeButtons: 'Anchor'
        });
        CKEDITOR.instances["Description"].setData(model => model.Description);
        CKEDITOR.instances["Description"].on("change", function () {
            CKEDITOR.instances["Description"].updateElement();
            $("#Description").val(CKEDITOR.instances["Description"].getData());
        })
    });
</script>
}
