@model PagedList.IPagedList<MayaJapan.Models.ImageGroup>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    @Styles.Render("~/Content/imagegroup.css");
    @Scripts.Render("~/Scripts/imageGroupImages.js");
    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js")
}

<h2>That time when I...</h2>

<div class="wrapper">

    @{
        // Show the most recent items first
        foreach (var date in Model.Reverse().GroupBy(d => d.Date.Date))
        {
            <h3>@date.Key.ToShortDateString()</h3>
            foreach (var item in date)
            {
                <div class="image-group-container row">
                    @if (item.ImageValue.Count > 0)
                    {
                    <div class="col-md-6 image-group-preview">
                        <span class="image-group-title" id="@item.ID">@item.Name</span>
                        <span class="image-group-description">@Html.Raw(@item.Description)</span>
                        @foreach (var image in item.ImageValue)
                        {
                            <img class="lazy" data-original="@image.ImageUrl" onclick="clickThumbnail(this)" />
                        }
                    </div>
                    <div class="col-md-6 image-group-highlight-image">
                        <img class="image-group-highlight lazy" src="@item.ImageValue.FirstOrDefault().ImageUrl" />
                    </div>
                    } else
                    {
                        <div class="col-md-12 image-group-preview">
                            <span class="image-group-title" id="@item.ID">@item.Name</span>
                            <span class="image-group-description">@Html.Raw(@item.Description)</span>
                        </div>
                    }
                </div>
                @Html.ActionLink("Edit", "Edit/" + item.ID, "ImageGroups", null,  new { @class = "action-link" })
                @Html.ActionLink("Delete", "Delete/" + item.ID, "ImageGroups", null, new { @class = "action-link" })
                <hr />
            }
        }
    }
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
<script>
    $(function () {
        $("img.lazy").lazyload({
            effect: "fadeIn",
            threshold: 300
        });
    });
</script>


